.class-route-cnt{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  // border:1px solid red;
}

.cart-routes{
  display: flex;
  // border:1px solid green;
  width: 70%;
  align-items: center;
  margin-bottom: -1.5rem;
  font-weight: 600;
  font-size: 0.7rem;
}

.cart-routes span{
  // padding: 0.15rem;
  cursor: pointer;
  // margin: 0 0.1rem;
  padding: 0.5rem;
  // border: 1px solid red;
}

.cart-routes span:nth-child(1){
  color: #9D9D9D;
  padding-right: 0;
  padding-left: 0;
}

.cart-routes span:nth-child(2){
  padding-left: 0;
  color: #0A0102;
}

.cart-main-component{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
  }
  
  .mycart-items-list-container{
    width: 70%;
    height: 100%;
    // background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .my-cart-item{
    border: 1px solid rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    height: 100%;
    justify-content: space-between;
    width: 85%;
    margin: 1rem 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);

    // background-color: yellow;
  }
  
  #my-cart-length{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(79, 78, 78);
  }

  .mycart-header-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-location-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cecdcd;
    padding: 0.2rem 0.6rem;
    // max-width: 100px;
  }

  #select-cart-location{
    outline: none;
    border: none;
  }
  
  #select-cart-location option{
    border: 1px solid red;
    border: none;
    outline: none;
  }
  .cart-details-main-cnt{
    width: 100%;
    height: 100%;
    // background-color: yellow;
    display: flex;
    gap: 2.5rem;
    margin: 0.5rem 0;
  }
  
  .cart-detail-img-cnt img{
    width: 65px;
  }
  
  .cart-details-cnt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.65rem;
    font-size: 0.8rem;
  }
  
  .cart-details > span:nth-child(1){
    font-size: 0.85rem;
    font-weight: 600;
  }
  
  .cart-details > span:nth-child(2){
    font-size: 0.68rem;
    color: #9D9D9D;
  }
  
  .prices{
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  
  .prices > span:nth-child(1){
    font-size: 1rem;
    font-weight: 600;
  }
  
  .prices > span:nth-child(2){
    font-size: 9px;
    text-decoration: line-through;
    color: #9D9D9D;
    font-weight: 600;
  }
  
  .cart-details{
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
  }
  
  .cart-item-counter-cnt{
    width: 100%;
    // background-color: seagreen;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    // padding-left: 15%;
  }
  
  .cart-counter-value-cnt{
    // background-color: rgb(192, 191, 191);
    // width: 25px;
    // height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0.85rem;
    cursor: pointer;
    border: 1px solid grey;
    font-size: 0.9rem;
  }
  
  .cart-item-counter-cnt button{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cart-place-order-cnt{
    width: 100%;
    // border: 2px solid red;
    text-align: right;
  }

  .empty-cart-cnt{
    width: 100%;
    // border: 3px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .empty-cart-img{
    width: 100%;
    // border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .empty-cart-img img{
    width: 45%;
  }

  .empty-cart-span{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .cart-place-order-cnt button{
    background-color: #3371B5;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: white;
    padding: 0.45rem 1.45rem;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 1.25rem;
  }
  
  .place-order-btn{
    background-color: #3371B5;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: white;
    padding: 0.45rem 1.45rem;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 1.25rem;
  }

  .mycart-customer-details-main-cnt{
    // width: 100%;
    height: 100%;
    // background-color: red;
  }
  
  .mycart-details-header-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mycart-details-header-cnt span:nth-child(1){
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(79, 78, 78);
  }
  
  .cart-add-address-btn{
    text-transform: uppercase;
    outline: none;
    border: none;
    color: #A03037;
    padding: 0.45rem 1rem;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #A03037;
    font-weight : 600;
    background-color: white;
  }
  
  .mycart-customer-details-cnt{
    width: 100%;
    height: 100%;
  }
  
  .customer-details-form-cnt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // background-color: gold;
    width: 100%;
  }
  
  .customer-form-item{
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 1rem;
  }
  
  .customer-form-input-cnt{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .customer-form-input-cnt label{
    font-size: 0.8rem;
  }
  
  .customer-form-input-cnt input{
    outline: none;
    border: 1px solid #DCDCDC;
    padding: 0.75rem 1rem;
    padding-left: 0.5rem;
  }
  
  .customer-form-input-cnt textarea{
    height: 45px;
    resize: none;
    border: none;
    outline: none;
    border: 1px solid #DCDCDC;
    padding: 0.75rem 1rem;
    padding-left: 0.5rem;
  }
  
  .customer-address-type-main-cnt{
    display: flex;
    flex-direction: column;
    // background-color: red;
    // justify-content: center;
    // justify-content: space-between;
    width: 100%;
    // gap: 2rem;
  }
  
  .customer-address-type-main-cnt span{
    font-size: 0.8rem;
  }
  
  .customer-address-type-cnt{
    display: flex;
    align-items: center;
    gap: 3rem;
    // width: 75%;
    // justify-content: space-between;
    font-size: 0.85rem;
  }
  
  .address-item{
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .mycart-order-summary-cnt span{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(79, 78, 78);
  }


  .customer-address-type2-cnt{
    display: flex;
    flex-direction: column;
    // align-items: center;
    // gap: 2rem;
    width: 100%;
    // justify-content: space-between;
    font-size: 0.85rem;
  }
  
  .address-item{
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .address-item label{
    font-size: 1rem;
    font-weight: 600;
  }

  .address-item2{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }


.label{
    font-size: 0.7rem;
    font-weight: 600;
}

.edit-address-btn{
    color: #A03037;
    font-weight: 800;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.customer-form-input-cnt textarea{
    // background-color: red;
    width: 100%;
    overflow: hidden;
}

.cart-item-counter-cnt span{
    font-size: 0.7rem;
}

#cart-remove-btn, #cp{
  cursor: pointer;
}



@media(min-width:320px) and (max-width:600px){

  .cart-location-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cecdcd;
    padding: 0.1rem 0.3rem;
    // max-width: 60px;
    // width:100%;
    font-size: 0.8rem;
  }
  
  #select-cart-location{
    outline: none;
    border: none;
    font-size: 0.5rem;
  }
  
  #select-cart-location option{
    border: 1px solid red;
    border: none;
    outline: none;
  }

  .custom-icon-size {
    width: 15px;
    height: 15px;
    font-size: 15px;
  }


  .mycart-items-list-container{
    width: 100%;
    height: 100%;
    // background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-routes{
    width: 88%;
  }

  .my-cart-item{
    border: none;
    // border: 1px solid red;
    padding: 0.5rem;
    // padding-bottom: 0.5rem;
  }

  .my-cart-item{
    box-shadow: none;

  } 


  #cp{
    font-size: 0.8rem;
  }

  .cart-add-address-btn{
    padding: 0.4rem 0.4rem;
  }

  .customer-form-item{
    display: flex;
    flex-direction: column;
  }

  .customer-form-input-cnt input{
    padding: 0.75rem 1rem;
    padding-left: 0.5rem;
    width: 100%;
  }

  .mycart-customer-details-cnt{
    width: 100%;
    // background-color: red;
  }

  .customer-details-form-cnt{
    width: 100%;
  } 

  .customer-form-item{
    width:90%;
    // background-color: yellow;
  }


}

@media(min-width:601px){
  .customer-form-input-cnt{
    width: 100%;
  }
  .customer-form-input-cnt textarea{
    // background-color: red;
    width: 100%;
    // overflow: hidden;
  }

  .mycart-customer-details-cnt{
    width: 100%;
    // background-color: red;
  }

  .customer-details-form-cnt{
    width: 100%;
  } 

  .customer-form-item{
    width:100%;
    // background-color: yellow;
  }

  .cart-location-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cecdcd;
    padding: 0.1rem 0.3rem;
    // max-width: 60px;
    // width:100%;
    font-size: 0.8rem;
  }
  
  #select-cart-location{
    outline: none;
    border: none;
    font-size: 0.6rem;
  }
  
  #select-cart-location option{
    border: 1px solid red;
    border: none;
    outline: none;
  }
}

@media(min-width:320px) and (max-width:768px){
  .cart-place-order-cnt button{
    padding: 0.25rem 0.75rem;
    font-size: 0.7rem;
  }
  .cart-add-address-btn{
    padding: 0.2rem 0.7rem;
    font-size: 0.6rem;
  }
}

