.body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    opacity: 1;
    text-align: start;
    padding: 2rem;
    height: 100%;
  }
  
  .password-reset-cnt {
    width: 100%;
    margin: auto;
    padding-top: 10vh;
    text-align: center;
    max-width: 350px;
  }
  
  .password-reset-container h1 {
    color: #333;
  }
  
  .password-reset-container p {
    color: #666;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input[type="email"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #ccc;
  }
  
  button[type="submit"]{
    width: 100%;
    padding: 10px;
    background: #A03037 0% 0% no-repeat padding-box;
    border: none;
    opacity: 1;
    cursor: pointer;
    color: white;
  }
  .create-btn{
    background: #E4E4E4 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    opacity: 1;
    height: 10vh;
    align-content: center;
  }
  .create-btn button{
    font: normal normal medium 18px/24px Roboto;
    border: none;
    cursor: pointer;
  }
  


  @media  (max-width:880px) {

    h1{
      font-size: 16px;
    }
    .body {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #E4E4E4;
      opacity: 1;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 10%;
      text-align: start;
      font-size: 12px;
    }
    
    .password-reset-cnt {
      width: 100%;
      margin: auto;
      padding-top: 10vh;
      text-align: center;
     
    }
    
    .password-reset-container h1 {
      color: #333;
    }
    
    .password-reset-container p {
      color: #666;
    }
    
    .input-group {
      margin-bottom: 20px;
    }
    
    .input-group label {
      display: block;
      margin-bottom: 5px;
    }
    
    .input-group input[type="email"] {
      width: 97%;
      padding: 4px;
      border-radius: 3px;
      border: solid 1px #ccc;
    }
    
    button[type="submit"]{
      width: 100%;
      padding: 4px;
      background: #A03037 0% 0% no-repeat padding-box;
      border: none;
      opacity: 1;
      cursor: pointer;
      color: white;
    }
    .create-btn{
      background: #E4E4E4 0% 0% no-repeat padding-box;
      border: 1px solid #E4E4E4;
      opacity: 1;
      height: 6vh;
      align-content: center;
    }
    .create-btn button{
      font: normal normal medium 18px/24px Roboto;
      border: none;
      cursor: pointer;
    }

    
  }
  // @media   (max-width:980px ) and ( min-width:881px ) {

  //   h1{
  //     font-size: 16px;
  //   }
  //   .body {
  //     background: #FFFFFF 0% 0% no-repeat padding-box;
  //     border: 1px solid #E4E4E4;
  //     opacity: 1;
  //     padding-left: 10%;
  //     padding-right: 10%;
  //     padding-bottom: 10%;
  //     text-align: start;
  //     font-size: 12px;
  //   }
    
  //   .password-reset-cnt {
  //     width: 40%;
  //     margin: auto;
  //     padding-top: 10vh;
  //     text-align: center;
  //   }
    
  //   .password-reset-container h1 {
  //     color: #333;
  //   }
    
  //   .password-reset-container p {
  //     color: #666;
  //   }
    
  //   .input-group {
  //     margin-bottom: 20px;
  //   }
    
  //   .input-group label {
  //     display: block;
  //     margin-bottom: 5px;
  //   }
    
  //   .input-group input[type="email"] {
  //     width: 90%;
  //     padding: 4px;
  //     border-radius: 5px;
  //     border: solid 1px #ccc;
  //   }
    
  //   button[type="submit"]{
  //     width: 100%;
  //     padding: 4px;
  //     background: blue 0% 0% no-repeat padding-box;
  //     border: none;
  //     opacity: 1;
  //     cursor: pointer;
  //     color: white;
  //   }
  //   .create-btn{
  //     background: #E4E4E4 0% 0% no-repeat padding-box;
  //     border: 1px solid #E4E4E4;
  //     opacity: 1;
  //     height: 6vh;
  //     align-content: center;
  //   }
  //   .create-btn button{
  //     font: normal normal medium 18px/24px Roboto;
  //     border: none;
  //     cursor: pointer;
  //   }

    
  // }