<div class="order-placed-main-container">
  <div class="order-placed-body-cnt">
    <div class="order-placed-confetti-msg-cnt">
      <h1>Order Placed Successfully</h1>
      <div class="img-cnt">
        <img src="../../../assets/or1.png" alt="">
      </div>
      <div class="order-placed-msg">
            <span>hurray!!! Your order is confirmed the order id is #123456 save the
                order id for further communication
            </span>
      </div>
    </div>
    <div class="admin-details-cnt">
      <table>
        <thead>
          <tr id="head">
            <td>Email us</td>
            <td>Contact us</td>
            <td>Address</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>adminbookstore.com</td>
            <td class="wide-cell">+91 8163475881</td>
            <td>
              42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near
              Kumarakom restaurant, HSR Layout, Bangalore 560034
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="handleContinueShopping()">Continue Shopping</button>
    </div>
  </div>
</div>

