  <div class="login-container">
    <h1>PLEASE LOG IN</h1>
    <p>Login to view items in your wishlist.</p>
    <div class="icon">
      <img src="https://public-v2links.adobecc.com/d096df37-ca37-4026-553f-8cfa6bec09ec/component?params=component_id%3A25799239-628e-4a28-9d28-9eaa24c158b2&params=version%3A0&token=1725271359_da39a3ee_3dde4a9e076521794a19e35a524e43844ff385bf&api_key=CometServer1" alt="Login Icon" />
    
    </div>
    <button (click)="openDialog()">LOGIN/SIGNUP</button>
  </div>
  
  



  